<div class="figure-wrapper" >
  {% if include.url %}
  <a href="{{ include.url }}" title="{{ include.title }}" target="_blank">
  {% endif %}
    <img {% if include.width %} style="width:{{ include.width }};" {% endif %}src="{{ page.date | date: "/assets/img/%Y-%m-%d-" | append: page.slug | append: "/" | append: include.fig | relative_url }}" alt="{{ include.title }}"/>
  {% if include.url %}
  </a>
  {% endif %}
  {% if include.caption %}
    <div class="figure-caption">
      {{ include.title | prepend: "**" | append: ":** " | append: include.caption | markdownify }}
    </div>
  {% endif %}
</div>
