<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="home-wrapper">
        <div class="home-background">
        </div>
        <div class="home-overlay">
          <div class="wrapper">
            <h1 id="cassandramasschelein">Cassandra<br>Masschelein</h1>
            <h2 id="research--chemistry--mcmaster-u">Research | Chemistry | McMaster U</h2>
          </div>
        </div>
        <div class="home-overlay home-box">
        </div>
      </div>
    </main>

  </body>

</html>
